@import "./vars";

// Gradients
// @mixin gradient__background($deg: 135deg) {
//     background: $background-color__dark;
//     background: -moz-linear-gradient($deg, $background-color__dark 0%, rgba(21,22,27,1) 100%);
//     background: -webkit-linear-gradient($deg, $background-color__dark 0%, rgba(21,22,27,1) 100%);
//     background: linear-gradient($deg, $background-color__dark 0%, rgba(21,22,27,1) 100%);
// }

// @mixin gradient__accent($deg: 90deg) {
//     background: $background-color__accent;
//     background: -moz-linear-gradient($deg, $background-color__accent 0%, rgb(221, 238, 68) 100%);
//     background: -webkit-linear-gradient($deg, $background-color__accent 0%, rgba(221,238,68,1) 100%);
//     background: linear-gradient($deg, $background-color__accent 0%, rgba(221,238,68,1) 100%);
// }

// @mixin gradient__text($deg: 90deg) {
//     color: $font-color__accent;
//     background: -moz-linear-gradient($deg, $font-color__accent 0%, rgba(221, 238, 68, 1) 100%);
//     background: -webkit-linear-gradient($deg, $font-color__accent 0%, rgba(221,238,68,1) 100%);
//     background: linear-gradient($deg, $font-color__accent 0%, rgba(221,238,68,1) 100%);

//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
// }

// @mixin gradient__white($deg: 0deg) {
//     background: rgb(255,255,255);
//     background: -moz-linear-gradient($deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);
//     background: -webkit-linear-gradient($deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);
//     background: linear-gradient($deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);
// }

// Перенсти сюда _contaner, section, input

// Shadow
@mixin box-shadow__default($y: 2px) {
    box-shadow: 0px $y 3px 1px rgba(0, 0, 0, 0.1);
    // -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    // -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
@mixin box-shadow__accent {
    box-shadow: 3px 3px 1px rgba(255, 15, 0, 0.15);
    // -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    // -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

// Text ! теперь называются xs, md...
@mixin title__xl($font-color: $font-color__dark, $weight: 700) {
    font-size: 7.2rem;
    font-weight: $weight;
    color: $font-color;
}

@mixin title__lg($font-color: $font-color__dark, $weight: 600) {
    font-size: 3.2rem;
    font-weight: $weight;
    color: $font-color;
}

@mixin title__md($font-color: $font-color__dark, $weight: 600) {
    font-size: 2.7rem;
    font-weight: $weight;
    color: $font-color;
}

@mixin title__sm($font-color: $font-color__dark, $weight: 600) {
    font-size: 2.1rem;
    font-weight: $weight;
    color: $font-color;
}

@mixin title__xs($font-color: $font-color__dark, $weight: 600) {
    font-size: 1.8rem;
    font-weight: $weight;
    color: $font-color;
}

@mixin paragraph__lg($font-color: $font-color__subdark, $weight: 400) {
    font-size: 1.8rem;
    font-weight: $weight;
    color: $font-color;
    line-height: 20px;
}

@mixin paragraph__md($font-color: $font-color__subdark, $weight: 400) {
    font-size: 1.6rem;
    font-weight: $weight;
    color: $font-color;
    line-height: 20px;
}

@mixin paragraph__sm($font-color: $font-color__subdark, $weight: 400) {
    font-size: 1.4rem;
    font-weight: $weight;
    color: $font-color;
    line-height: 20px;
}
@mixin paragraph__xs($font-color: $font-color__subdark, $weight: 400) {
    font-size: 1.2rem;
    font-weight: $weight;
    color: $font-color;
    line-height: 20px;
}

// Padding
@mixin padding__safe {
    padding: 0 25px;
    box-sizing: content-box;
}

// Transition
@mixin transition__hover($time: ease, $duration: $transition-duration__sm) {
    transition: $time $duration;
}
@mixin transition__animation($time: ease, $duration: $transition-duration__lg) {
    transition: $time $duration;
}

@mixin animation__default(
    $time: ease,
    $duration: $animation-duration__default,
    $name
) {
    animation: $time $duration $name;
}

// Filter
@mixin filter-blur__default($color: rgba(255, 255, 255, 0.5)) {
    background-color: $color;
    backdrop-filter: blur(3px);
}

// Border
@mixin border__bottom() {
    border-bottom: 1px solid $background-color__grey;
}

// Form
@mixin form__default() {
    input,
    textarea {
        @include transition__hover;
    }
    input:focus,
    textarea:focus {
        @include box-shadow__default($y: 1px);
        border-color: rgba(255, 255, 255, 0);
    }
    [type="text"],
    [type="password"] {
        padding: $padding__sm - 5px;
        height: 35px;
        border: 1px solid $background-color__grey;
        border-radius: $border-radius__sm;
        @include paragraph__md;
    }
    textarea {
        padding: $padding__sm - 5px;
        border: 1px solid $background-color__grey;
        border-radius: $border-radius__sm;
        @include paragraph__md;
    }
    [type="checkbox"] {
        // border: 1px solid $background-color__grey;
        // border-color: red;
        width: 15px;
        height: 15px;
    }

    &[data-style="dark"] {
    }
}
