// xs sm md lg xl

// Background
// color
// light-theme
$background-color__dark: #1b1d26;
$background-color__subdark: #4d4f60;
$background-color__grey: #e2e3ed;
$background-color__lightgrey: #f6f6fd;
$background-color__light: #ffffff;
$background-color__sublight: #dfdfe8;
$background-color__accent: #ff0f00;
// dark-theme
// $bgc-dark: black;

// Text
// color
$font-color__dark: #1b1d26;
$font-color__subdark: #4d4f60;
$font-color__light: #ffffff;
$font-color__sublight: #dfdfe8;
$font-color__accent: #ff0f00;

// Margins
// margin-bottom
$margin__lg: 40px;
$margin__md: 20px;
$margin__sm: 10px;
$margin__xs: 5px;

// Box
// padding
$padding__md: 30px;
$padding__sm: 20px;
// border
$border__main: 1px solid rgba(0, 0, 0, 0.2);
// radius
// $border-radius__xsblock: 2px; // shop
$border-radius__md: 4px;
$border-radius__sm: 2px;
// height
$height__md: 40px;
// Animation
$animation-duration__default: 1s;
$animation-duration__slider: 7s;

// Hover
$transition-duration__lg: 1s;
$transition-duration__md: 0.5s;
$transition-duration__sm: 0.3s;
