// Background 
    // color
    // light-theme
$background-color__dark:      #40424F;
$background-color__subdark:   #74778B;
$background-color__light:     #ffffff;
$background-color__sublight:  #E6E7EE;
$background-color__accent:    #ff4420; 
    // dark-theme
// $bgc-dark: black;

// Text
    // color
$font-color__dark:     #40424F;
$font-color__subdark:  #74778B;
$font-color__light:    #ffffff;       
$font-color__sublight: #E6E7EE;    
$font-color__accent:   #ff4420;   

// Margins
    // margin-bottom
$margin-bottom__label: 10px;
$margin-bottom__title_h1: 30px;
$margin-bottom__title_h2: 20px;
$margin-bottom__paragraph: 20px;

// Box
    // padding
$padding__block: 40px;
$padding__smblock: 20px;
    // border
$border__main: 1px solid rgba(0,0,0,.2);
    // radius
// $border-radius__xsblock: 2px; // shop
$border-radius__smblock: 16px;
$border-radius__block: 32px;
    // height
$height__smblock: 45px;
// Animation
$animation-duration__main: 1s;

// Hover
$transition-duration__hover: .3s;





