@import "../../styles/mixins";
@import "../../styles/vars";

.elementLang {
    cursor: pointer;
    img {
        margin-right: 7px;
        border-radius: 2px;
        border: solid 1px $background-color__grey;
        @include box-shadow__default($y: 1px);
        // box-shadow: 1px 1px 1px black;
    }
    @include paragraph__md;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    p {
        margin-right: 3px;
    }
    // background-color: red;
    svg {
        // background-color: aqua;
    }
}
