@import "../../styles/mixins";
@import "../../styles/vars";


.elementBacktitle {
    @include title__h1;
    position: absolute;
    z-index: -1;
    // color: rgba(0,0,0,0);
    -webkit-text-stroke: 1px $font-color__sublight; // обводка
    -webkit-text-fill-color: transparent; // внутренний цвет текста
}